<template>
  <div class="rlogin-panel">
      <div class="container">
        <h1 class="rlogin-panel__title my-5">Login</h1>
        <v-form @submit.prevent="processForm()">
            <v-row>
                <v-col
                    cols= 12
                    sm= 6
                >
                    <v-text-field label="Email" type="email" v-model.trim="email"></v-text-field>
                </v-col>
                <v-col
                    cols= 12
                    sm= 6
                >
                    <v-text-field label="Password" type="password" v-model="password"></v-text-field>
                </v-col>
                
            </v-row>
            <v-row justify="center">
                <v-btn
                    type="submit"
                    color="primary"
                >
                    Login
                </v-btn>
            </v-row>
        </v-form>
      </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
name: 'Login',
    data(){
        return {
            email: 'aiden_lopez@gmail.com',
            password: '123456',    
        }        
    },    
    methods:{
        ...mapActions(['loginUser']),
        processForm(){
            this.loginUser({email: this.email, password: this.password});
            this.email = '';
            this.password = '';
        }
    }
}
</script>

