<template>
  <div class="my-cars-panel">
    <div class="container">
      <div class="my-cars-panel__title my-5 d-flex align-center">
        <h1 class="">My car list </h1>  <h3 class="ml-2 grey--text my-cars-panel__user-email">{{user.email}}</h3>
      </div>
      <v-form @submit.prevent="addCar">
        <car-form :car="car"/>
      </v-form>
    </div>
    <v-divider></v-divider>
    <car-list/>
      
  </div>  
</template>

<script>
import CarForm from '../components/CarForm.vue';
import CarList from '../components/CarList.vue';
import {mapState, mapActions} from 'vuex';
const shortid = require('shortid');

export default {
name: 'MyCars',
  components: {
    CarForm,
    CarList
  },
  data() {
    return {
      car: {
        id:     '',
        brand:  '',
        model:  '',        
        price:  0,
      }
    }
  },
  methods:{
    ...mapActions(['setCars', 'loadFromDatabase']),
    addCar(){
        
      this.car.id = shortid.generate();
      
      this.setCars(this.car);

      this.car = {
        id:     '',
        brand:  '',
        model:  '',            
        price:  0,
      }
    }
  },
  computed: {
    ...mapState(['user'])

  },
  created(){
    this.loadFromDatabase();
  }
}
</script>

<style>
@media (max-width:600px ) {
  .my-cars-panel__title {
    flex-direction: column;
    text-align: center;
  }
  .my-cars-panel__user-email{
    font-size: 0.95rem;
  }
}
</style>