<template>
  <div class="register-panel">
      <div class="container">
        <h1 class="register-panel__title my-5">Register</h1>
        <v-form @submit.prevent="processForm()">
            <v-row>
                <v-col
                    cols= 12
                    sm= 4
                >
                    <v-text-field label="Email" type="email" v-model.trim="email"></v-text-field>
                </v-col>
                <v-col
                    cols= 12
                    sm= 4
                >
                    <v-text-field label="Password" type="password" v-model="password_01"></v-text-field>
                </v-col>
                <v-col
                    cols= 12
                    sm= 4
                >
                    <v-text-field label="Repeat password" type="password" v-model="password_02"></v-text-field>
                </v-col>
            </v-row>
            <v-row justify="center">
                <v-btn
                    :disabled="disabled"
                    type="submit"
                    color="primary"
                >
                    Register
                </v-btn>
            </v-row>
        </v-form>
      </div>
  </div>

</template>

<script>
import { mapActions } from 'vuex'
export default {
    name: 'Register',
    data(){
        return {
            email: '',
            password_01: '',    
            password_02: ''
        }        
    },
    computed:{
        disabled(){
            if(!this.email.includes('@')) {
                return true;
            }
            if(this.password_01.length > 5 && this.password_01 == this.password_02) {
                return false;
            }
            
            return true;
        }
    },
    methods:{
        ...mapActions(['registerUser']),
        processForm(){
            this.registerUser({email: this.email, password: this.password_01});
            this.email = '';
            this.password_01 = '';
            this.password_02 = '';
        }
    }

}
</script>