<template>
<div class="form-panel">
    <v-row>
        <v-col
            cols= 12
            sm= 3
        >
            <v-text-field label="Brand" v-model="car.brand"></v-text-field>
        </v-col>
        <v-col
            cols= 12
            sm= 3
        >
            <v-text-field label="Model" v-model="car.model"></v-text-field>
        </v-col>
        <v-col
            cols= 12
            sm= 3
        >
            <v-text-field label="Price" v-model="car.price" type="number"></v-text-field>
        </v-col>
        <v-col
            cols= 12
            sm= 3
        >

            <v-btn
            block
            :disabled="disabled"
            type="submit"
            color="primary"
            >
            Add Car
            </v-btn>            
        </v-col>
    
    </v-row>
    
     

    
</div>
   
</template>

<script>
export default {
    props: {
        car: Object
    },
    computed: {
        disabled(){
            let result = this.car.price > 0 ? false : true;
            return result;
        }
  }
}
</script>