<template>
<div class="container">
    <v-simple-table>
        <template v-slot:default>
            <thead>
                <tr>
                    <th class="text-left">
                        Brand
                    </th>
                    <th class="text-left">
                        Model
                    </th>
                    <th class="text-center">
                        Price (€)
                    </th>
                    <th class="text-center">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr
                v-for="(item, index) in cars"
                :key="index"
                >
                <td class="text-left">{{ item.brand }}</td>
                <td class="text-left">{{ item.model }}</td>
                <td class="text-center">{{ item.price }}</td>
                <td class="text-center">
                    <v-btn
                    small
                    color="red"     
                    @click="deleteCars(item.id)"               
                    >
                    <v-icon color="white">mdi-delete</v-icon>
                    </v-btn> 
                </td>
                </tr>
            </tbody>
        </template>
    </v-simple-table>
</div>
  
</template>

<script>
import {mapState, mapActions} from 'vuex'
export default {
    computed: {
        ...mapState(['cars'])
    },
    methods: {
        ...mapActions(['deleteCars'])
    }
}
</script>

<style>

</style>