<template>
  <v-app>    
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="container d-flex justify-space-between">
        <div class="d-flex align-center">
          <v-icon>mdi-car-hatchback</v-icon>
          <h3 class="ml-2">My Cars</h3>
        </div>
        
        <div v-if="!authenticatedUser" class="login-register d-flex">
          <router-link to="/login" class="login-register__button">
            <v-btn
              color="secondary"
            >
            Login   
            </v-btn>
          </router-link>
          <router-link to="/register" class="login-register__button">
            <v-btn
              class="ml-5"
              color="secondary"
            >
            Register   
            </v-btn>
          </router-link>        
        </div>
        <div v-else>
          <v-btn
              color="secondary"
              @click="closeSession"
            >
            Logout   
            </v-btn>
        </div>
      </div>
    </v-app-bar>
        {{authenticatedUser}}

    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
export default {
  name: 'App',

  data: () => ({
    //
  }),
  methods:{
    ...mapActions(['loadFromDatabase', 'closeSession']),    
  },
  computed:{
    ...mapGetters(['authenticatedUser']),
  },
  created(){
    this.loadFromDatabase();
  }
};
</script>
<style  scoped>
.login-register__button{
  text-decoration: none;
}
</style>
